body{
    font-family: 'Copse', serif;
    color: #44586e
}

hr{
    border-color: #44586e;
    margin: 2% 20%;
}

.perso_policeTitre{font-family: 'Fredoka One';}

.perso_shadow{box-shadow: 0px 2px 15px black;}

.perso_logoSize{width: 100px;}

.perso_Gras{font-weight: bold;}

.perso_colorRoseMenu{color: #FF00FF !important;}

.perso_colorOrangeMenu{color: rgb(247, 179, 91) !important;}

.perso_colorJauneMenu{color: rgb(255, 215, 0) !important;}

.perso_colorVertMenu{color: #34C924 !important;}

.perso_colorRougeMenu{color: rgb(230, 78, 78) !important;}

.perso_colorBleuCielMenu{color: #40E0D0 !important;}

.perso_size12{font-size: 12px;}

.perso_size15{font-size: 15px;}

.perso_size18{font-size: 18px; font-weight: bold;}

.perso_size20{font-size: 20px;}

.perso_size26{font-size: 26px;}

.perso_minCorpSize{min-height: 500px;}

.perso_textShadow{text-shadow: 1px 1px 1px black;}

.perso_bgGreen{background-color: rgba(175,233,175,0.827) !important;}

.perso_bgJaune{background-color: rgb(255,255,210) !important;}

.perso_bgRed{background-color: rgb(240,128,128) !important;}

.perso_bgOrange{background-color:  rgb(248, 207, 153) !important;}

.perso_bgRose{background-color: rgb(230, 196, 230) !important;}



/* Debut Google Map */

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    
    .map-responsive iframe {
    left:0;
    top:0;
    height:80%;
    width:100%;
    position:absolute;
    }

    /* Fin Google Map */

    
    
    /* Debut footer */

    .ancremenu_link{
        font-size: 50px;
        /*color: gray;*/
    }
    footer div#partie1{
        height:100%;
        background-color:#212121;
    }
    footer div#partie2{
        background-color: #424250; 
    }
    footer div#partie3{
        background-color:#424242;
    }

    ul li{
        list-style-type:none;
    }
    
    .acgl a{
        text-decoration: none;
    }
    .acgl a:hover{
        color: rgb(255, 215, 0);
    }
    ul.acgl li a{
        color:white;
    }

    .actus a{
        text-decoration: none;
    }
    .actus a:hover{
        color: rgb(230, 78, 78);
    }
    ul.actus li a{
        color:white;
    }

    .contact a{
        text-decoration: none;
    }
    .contact a:hover{
        color: rgb(247, 179, 91);
    }
    ul.contact li a{
        color:white;
    }
    
    .social_link{
        font-size: 25px;
    }
    .bar_link{
        color: white;
    }
    .socials a{
        text-decoration: none;
    }

    /* Fin footer */